html {
  font-size: 14px;
  color: #333;
  --bold-color: #000;
  --header-color: #000;
}

@media (prefers-color-scheme:dark) {
  html {
    background: #111;
    color: #ccc;
    --bold-color: #fff;
    --header-color: #fff;
  }
}

/* General resets and fixes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, hr, p, ul, ol, table, details, summary, form {
  margin-bottom: 1em;
}

h1, h2, h3, h4 {
  margin-top: 3em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

b, strong {
  color: var(--bold-color);
}

a {
  color: #19f;
}

ul, ol {
  padding-left: revert;
}